
<table border="0" cellspacing="3" cellpadding="4" width="100%">
    <tr>

        <th align="left" width="66.67%" ></th>
        <th align="left" width="33.33%" colspan="2"></th>

    </tr>
    <tr>
        <td id="left" width="66.67%">
        </td>
        <td id="right" colspan="2" width="33.33%">
          </td>
    </tr>

</table>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto aspernatur consequuntur deserunt distinctio enim eveniet ex excepturi facere facilis in ipsa laboriosam, laudantium modi molestiae natus non numquam officiis perferendis placeat possimus quam rerum, sequi sint suscipit tempore tenetur vel velit voluptas voluptatibus. Ex hic quibusdam reiciendis repellat totam.
